html {
    scroll-behavior: smooth;
}

body {
    background-color: #393E46;
    color: #F7F7F7;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #F2E7D5;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    font-weight: bold;
    transition: all 0.5s linear;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.nav ul li {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin: 0.5em;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    background-color: #6D9886;
    color: #393E46;
}

.nav a:hover {
    background-color: #F2E7D5;
}

.nav .icon {
    width: 2em;
}

#main p {
    font-size: 1.5em;
}

#footer a {
    color: #F2E7D5;
}

#footer a:hover {
    color: #6D9886;
}